body
{
   background-image: url("IMAGE/background.jpg");
   background-repeat: repeat;
}

#en_tete
{
  margin-left: auto; 
  margin-right: auto; 
  witdh: 200px;
  text-align: center;
  background-image: url("images/banniere.png");
  background-repeat: no-repeat;
  margin-bottom: 10px;

}

#menu
{
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
   width: 906px;
   color: white;
  margin-bottom: 10px;
}

#corps
{
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
   width: 906px;
   margin-bottom: 20px; /* Ca c'est pour éviter que le corps colle trop au pied de page en-dessous */
   padding: 5px; /* Pour éviter que le texte à l'intérieur du corps ne colle trop à la bordure */
   
   color: black;
   background-color: grey; /* Une couleur de fond pour le corps */
   background-image: url("images/motif.png");
   background-repeat: repeat-x; /* Une petite image de fond qui se répètera horizontalement en haut */
   
   border: 2px solid black; /* Une bordure pour bien marquer les limites du corps et pour faire joli */
}

#pied
{
   padding: 5px;
   text-align: center;

 
}