body
{
   background-image: url("IMAGE/background.jpg");
   background-repeat: repeat;
}

#en_tete
{
  margin-left: auto; 
  margin-right: auto; 
  witdh: 200px;
  text-align: center;
  background-image: url("images/banniere.png");
  background-repeat: no-repeat;
  margin-bottom: 10px;

}

#menu
{
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
   width: 906px;
   color: white;
  margin-bottom: 10px;
}

#corps
{
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
   width: 891px;
   padding: 5px; /* Pour éviter que le texte à l'intérieur du corps ne colle trop à la bordure */
   
   color: white;
   background-color: #0b0b0b; /* Une couleur de fond pour le corps */
   
   border-top: 2px solid #1d1d1d; /* Une bordure pour bien marquer les limites du corps et pour faire joli */
   border-left: 2px solid #1d1d1d; /* Une bordure pour bien marquer les limites du corps et pour faire joli */
   border-right: 2px solid #1d1d1d; /* Une bordure pour bien marquer les limites du corps et pour faire joli */
}

#pied
{
  text-align: center;
}